<launch>
  <include file="$(find enph353_utils)/launch/sim.launch">
    <arg name="spawn_pedestrians" value="false"/>
    <arg name="spawn_vehicles" value="false"/>
  </include>
  <node pkg="controller"
        type="run.py"
        name="run"
        output="screen"
        >
  </node>
  <node pkg="controller"
        type="plate_recognition.py"
        name="plate_recognition"
        output="screen"
        >
  </node>
  <!-- <node pkg="enph353_utils"
        type="score_tracker.py"
        name="tracker"
        output="screen"
        >
  </node>
  <node pkg="controller"
        type="publish_plates.py"
        name="pubplates"
        output="screen"
        >
  </node> -->
</launch>